
@{
    ViewBag.Title = "izpisPodatkov";
    
}

<h2>izpisPodatkov:</h2>
<p>Ime: @ViewBag.uporabnik.ime</p>
<p>Priimek: @ViewBag.uporabnik.priimek</p>
<p>Datum rojstva: @ViewBag.uporabnik.datumRojstva</p>
<p>EMŠO: @ViewBag.uporabnik.emšo</p>
<p>Starost: @ViewBag.uporabnik.starost</p>
<p>Naslov: @ViewBag.uporabnik.naslov</p>
<p>Poštna številka: @ViewBag.uporabnik.poštnaŠtevilka</p>
<p>Pošta: @ViewBag.uporabnik.pošta</p>
<p>Država: @ViewBag.uporabnik.država</p>
<p>eNaslov: @ViewBag.uporabnik.eNaslov</p>
<p>geslo: @ViewBag.uporabnik.geslo</p>


