@model dsr_vaja1.Models.Uporabnik.Uporabnik

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MasterStran.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uporabnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priimek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priimek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rojstni_datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rojstni_datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kraji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kraji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.naslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naslov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drzava)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drzava)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postna_stevilka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postna_stevilka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geslo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geslo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ponovi_geslo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ponovi_geslo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
