@model dsr_vaja1.Models.Uporabnik.Uporabnik


<div class="form-group">
    @Html.LabelFor(reg => reg.email, "Email")
    @Html.TextBoxFor(reg => reg.email, new { @id = "email", @name = "email", @type = "text", @class = "form-control", @placeholder = "E-pošta" })
    @Html.ValidationMessageFor(reg => reg.email)
</div>
<div class="form-group">
    @Html.LabelFor(reg => reg.geslo, "Geslo")
    @Html.TextBoxFor(reg => reg.geslo, new { @id = "geslo", @name = "geslo", @type = "password", @class = "form-control" })
    @Html.ValidationMessageFor(reg => reg.geslo)
</div>
<div class="form-group">
    @Html.LabelFor(reg => reg.ponovi_geslo, "Ponovi geslo")
    @Html.TextBoxFor(reg => reg.ponovi_geslo, new { @id = "ponovi_geslo", @name = "ponovi_geslo", @type = "password", @class = "form-control" })
    @Html.ValidationMessageFor(reg => reg.ponovi_geslo)
</div> 

